body{
    display: inline-block;
}
h1{
    text-align: center;
}
#botonCopiar{
    display: none;
}
button{
    width: 30%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: orange;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
